.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  width: 30px;
  height: 30px;
  background-color: #ffffff;
  fill: #000000;

  &:hover,
  &:focus {
    border-radius: 50px;
    outline: none;
    background-color: var(--accent-color);
  }
}

.label-icon {
  bottom: 0%;
  left: 12px;
  display: block;
  position: absolute;
}

.form {
  height: 58px;
  width: 448px;
  display: flex;
  flex-direction: column;

  &-label {
    position: relative;
    margin-top: 10px;
  }
  &-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
    transition: border-color 250ms linear;

    &:focus {
      outline: none;
      border: 1px solid var(--accent-color);
    }
  }
}

.form-input:focus + .label-icon {
  fill: var(--accent-color);
}
.form-speaker p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  margin: 0px;
  padding-bottom: 12px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms linear;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-policy:checked + .form-policy-text::before {
  background-image: url("../img/icon-check.svg");
  border: none;
}

.form-policy-text {
  margin-bottom: 30px;

  &::before {
    background-size: cover;
    content: "";
    display: inline-block;
    background-origin: content-box;
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    margin-top: 10px;
    margin-right: 8px;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect (1px 1px 1px 1px);
  clip: rect (1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 0px !important;
  overflow: hidden;
}
.form-field {
  display: block;
  padding-bottom: 10px;
}
.input-button {
  display: block;
  margin: 0 auto;

  width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form-label-text {
  color: var(--title-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
} /* Firefox 19+ */
:-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
} /* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.user-policy-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
