//.features-section {
  margin-top: 100px;
}
//.title-features {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: Roboto;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 0px;
}
//.text-features {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
}
//.thumb {
  margin: 15px;
  background-color: #f5f4fa;
}
//.features-icon {
  height: 120px;
  width: 270px;
  padding: 25px 100px;
}
