.features {
  display: flex;
  justify-content: center;

  h2 {
    margin-top: 0px;
    margin-right: 0px;
  }

  h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-family: Roboto;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 0px;
  }

  p {
    color: var(--title-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    padding-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}
ul .features {
  padding: 0px;
  margin-top: 0;
}
.features-section {
  padding-top: 94px;
}

.features > li:not(:last-child) {
  margin-right: 30px;
}
.features-item {
  width: 270px;
}
.thumb {
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features-icon {
  display: flex;
  height: 120px;
  width: 270px;
  padding: 25px 100px;
}
