.partner {
  padding-bottom: 90px;
  padding-top: 90px;

  h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
  }
}
.partner-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  > li:not(:last-child) {
    margin-right: 30px;
  }
}

.partner-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  width: 170px;
  height: 90px;

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}

.partner-icon :nth-child {
  width: 44px;
  height: 49px;
}
