.team-section {
  text-align: center;
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 60px;
}
.team-list {
  align-items: center;
  margin-bottom: 0px;

  padding-left: 0px;
  padding-top: 30px;
  .item {
    margin-left: 10px;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.teammate-name {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;

  padding-top: 30px;
  margin: 0px;
  text-align: center;
}
.teammate-name-posittion {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;

  padding-top: 10px;
  text-align: center;
  margin: 0px;
}
.social-list {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 16px 122px 24px 122px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    max-width: 768px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;

    padding-left: 0px;
    padding-top: 50px;

    .item {
      max-width: 350px;
      margin: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    text-align: center;
    background-color: #f5f4fa;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .team-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;

    margin: 0px;
  }
  .team-list {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;

    padding-left: 0px;
    padding-top: 50px;

    p {
      color: var(--title-text-color);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: 0.03em;

      padding-top: 10px;
      margin: 0px;
    }

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;

      padding-top: 30px;
      margin: 0px;
    }
    .item {
      max-width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
