.title-work {
  margin: 0px;
  text-align: center;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.work-section {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0px;
}
.work-list {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-top: 50px;
  padding-left: 0px;

  li:not(:last-child) {
    padding-right: 30px;
  }
}

.work-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding: 27px 0px;
  margin: 0px;

  width: 100%;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  position: absolute;
  bottom: 0px;
  left: 0px;
}

.thumb-work-list {
  position: relative;
}
